<li class="row">

	<p class="col-8">{{id}}. {{burger_name}}</p>

	<div class="col-4">
		<button class="change-devour" data-id="{{id}}" data-eaten="{{devoured}}">
			Eat this Burger!
		</button>
	</div>

</li>
